.jumbotron {
    background: url('Blue-background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

  .font_white {
    color: white;
  }
  .card {
    background: #f0f1ff;
    min-height: 400px;
    width: 300px;
    box-shadow: 0 2px 40px -20px rgba(O, 0, 0, .2)
  }  
  