
.jumbotron {
  background: url('Blue-background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.font_white {
  color: white;
}

.font_header {
  font-size: 50px;
}

.cnt_header {
  text-align: center;
}

.font_title {
  font-size: 30px;
}